<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">

            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">

                    <button type="button" id="btnGoogle" class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" data-toggle="tooltip" title="Login with Google">Login with Google <i aria-hidden="true" class="fa fa-google-plus"></i> </button>
                </div>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Archivo</th>
                        <th scope="col">Descarga</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let archivo of archivos">
                        <th scope="row">1</th>
                        <td>{{archivo.nombre}}</td>
                        <td> <a style="margin-left:10px;" title="Descargar el archivo" href="{{archivo.ruta}}"><i class="fa fa-paperclip"></i> Descargar archivo</a></td>
                    </tr>

                </tbody>
            </table>






        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->